@import 'libs/slick';
.wrapper{
    .bread-crumbs{
        padding-top: 104px;
    
        ul{
            display: flex;
            flex-wrap: wrap;
    
            margin-left: -10px;
    
            li{
                margin-left: 10px;
    
                a{
                    font-family: 'ProximaNova-Semibold';
                    font-size: 14px;
                    color: rgba(82,93,125,0.5);
                    line-height: 17px;
    
                    padding-right: 15px;
                    position: relative;
    
                    &:after{
                        position: absolute;
                        top: 50%;
                        right: 0;
                        width: 5px;
                        height: 10px;
                        content: '';
                        transform: translate(0, -50%);
                        background: url(../img/bread-crumbs-icon.svg) no-repeat 50% 50%;
                        background-size: cover;
                    }
    
                }
                span{
                    font-family: 'ProximaNova-Semibold';
                    font-size: 14px;
                    color: rgba(82,93,125,1);
                    line-height: 17px;
                }
            }
        }
        @media(min-width: 1024px){
            padding-top: 132px;
    
            ul{
                li{
                    a{
                        font-size: 20px;
                        line-height: 24px;
    
                        &:after{
                            width: 6px;
                            height: 12px;
                        }
                    }
                    span{
                        font-size: 20px;
                        line-height: 24px;
                    }
                }
            }
        }
        @media(min-width: 1280px){
            padding-top: 227px;
        }
        @media(min-width: 1680px){
            padding-top: 253px;
        }
    }

    .collab{
        padding-top: 40px;
        padding-bottom: 60px;

        &-title{
            text-align: center;
            margin-bottom: 30px;

            h1{
                font-family: 'ProximaNova-Extrabld';
                font-size: 30px;
                line-height: 39px;
                color: #525D7D;

                margin-bottom: 20px;
            }
            p{
                font-family: 'ProximaNova-Regular';
                font-size: 18px;
                line-height: 27px;
                color: #525D7D;
            }
        }
        &-content{
            .collab-item{
                background: #525D7D;
                border-radius: 20px;
                padding: 20px 10px;
                margin-bottom: 20px;

                &-title{
                    font-family: 'ProximaNova-Extrabld';
                    font-size: 30px;
                    line-height: 39px;
                    text-align: center;
                    color: #fff;

                    margin-bottom: 20px;
                }
                .collab-list{
                    padding-left: 17px;

                    margin-bottom: 20px;
                    .list-item{
                        font-family: 'ProximaNova-Regular';
                        font-size: 16px;
                        line-height: 24px;
                        color: #fff;

                        margin-bottom: 10px;

                        list-style-image: url(../img/mob-dot-icon.svg);

                        p{
                            padding-left: 5px;
                        }
                    }
                }
                .accept-btn{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 213px;
                    height: 64px;

                    font-family: 'ProximaNova-Bold';
                    font-size: 20px;
                    line-height: 24px;
                    color: #fff;

                    background: url('../img/bloggers-accept-btn-bg.svg') no-repeat center;
                    background-size: cover;

                    padding: 20px 40px;
                    margin: 0 auto;
                }
            }
        }
        @media (min-width: 1024px){
            padding-top: 56px;
            padding-bottom: 70px;

            &-title{
                margin-bottom: 40px;
                h1{
                    font-size: 48px;
                    line-height: 62px;
                }
                p{
                    width: 550px;
                    margin: 0 auto;
                }
            }
            &-content{
                display: flex;
                justify-content: space-between;

                .collab-item{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;

                    width: 49%;
                    padding: 30px;

                    &-title{
                        font-size: 36px;
                        line-height: 49px;
                    }
                    .collab-list{
                        .list-item{
                            font-size: 18px;
                            line-height: 27px;
                            margin-bottom: 26px;

                            p{
                                padding-left: 10px;
                            }
                        }
                    }
                    .accept-btn{
                        margin-top: auto;
                    }
                }
            }
        }
        @media (min-width: 1600px){
            padding-top: 64px;
            padding-bottom: 130px;

            &-title{
                margin-bottom: 70px;
                h1{
                    font-size: 72px;
                    line-height: 94px;
                    margin-bottom: 40px;
                }
            }
            &-content{
                .collab-item{
                    padding: 65px 79px 75px;
                    cursor: pointer;

                    width: 47.7%;
                    height: 100%;
                    min-height: 488px;

                    border-radius: 30px;

                    &-title{
                        margin-bottom: 40px;
                    }
                    .collab-list{
                        .list-item{
                            p{
                                padding-left: 20px;
                            }
                        }
                    }
                    .accept-btn{
                        height: 0px;
                        padding: 0;
                        visibility: hidden;
                        color: transparent;
                        transition: all 0.2s;
                    }

                    &:hover{
                        .accept-btn{
                            height: 64px;
                            padding: 20px 40px;
                            visibility: visible;
                            color: #fff;
                            display: flex;
                        }
                    }
                }
            }
        }
    }

    .info{
        &-inner{
            .info-item{
                margin-bottom: 40px;

                .slider{
                    position: relative;
                    margin-bottom: 21px;

                    .info_count{
                        left: 75px;
                        bottom: 22px;
                        font-size: 20px;
                        color: #fff;
                        font-weight: 800;
                        line-height: 30px;
                        position: absolute;
                        font-family: 'ProximaNova-Extrabld';
                        span{
                            font-weight: 800;
                            font-family: 'ProximaNova-Extrabld';
                        }
                    }
                    .info-slider{
                        .slick-arrow{
                            bottom: 20px;
                            left: 20px;
                            z-index: 3;
                            width: 36px;
                            height: 36px;
                            opacity: 0.6;
                            border: none;
                            cursor: pointer;
                            border-radius: 50%;
                            position: absolute;
                            background: #fff;
                            backdrop-filter: blur(4px);
                            transition: all 0.4s;
                            &:hover{
                                opacity: 1;
                            }
                            img{
                                top: 50%;
                                left: 50%;
                                width: 8px;
                                position: absolute;
                                transform: translate(-50%, -50%);
                            }
                        }
                        .prev{
                            left: 20px;
                        }
                        .next{
                            left: 134px;
                            img{
                                transform: translate(-50%, -50%) rotate(180deg);
                            }
                        }
                        .slick-list{
                            margin: 0 -10px;
                        }
                        .slick-slide{
                            margin: 0 10px;
                        }

                        &-item{
                            .info-img{
                                height: 203px;
                                border-radius: 20px;

                                position: relative;

                                .img-info{

                                    width: auto;
                                    height: auto;

                                    position: absolute;
                                    top: 20px;
                                    left: 20px;
                                    z-index: 2;

                                    padding: 10px 24px;

                                    &::after{
                                        content: '';
                                        width: 100%;
                                        height: 100%;
                                        background: rgba(82, 93, 125, 0.2);
                                        backdrop-filter: blur(35px);
                                        // filter: blur(0.5px);

                                        border-radius: 78px;

                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        z-index: 1;
                                    }

                                    p{
                                        font-family: 'ProximaNova-Semibold';
                                        font-size: 16px;
                                        line-height: 24px;
                                        color: #fff;

                                        position: relative;
                                        z-index: 3;
                                    }
                                }
                            }
                        }
                    }
                }

                &-video{
                    width: 100%;
                    height: 203px;
                    border-radius: 20px;

                    position: relative;

                    margin-bottom: 21px;

                    .video-play{
                        width: 57px;
                        height: 57px;

                        background: rgba(255, 255, 255, 0.3);
                        backdrop-filter: blur(35px);
                        border-radius: 50%;

                        position: absolute;
                        top: 50%;
                        left: 50%;
                        z-index: 3;

                        transform: translate(-50%, -50%);

                        &:after{
                            content: url('../img/play-video.svg');
                            display: block;

                            position: absolute;
                            top: 44%;
                            left: 47%;


                            transform: scale(0.67) translate(-50%, -50%);
                        }
                    }
                }
                
                &-content{
                    .info-item-title{
                        font-family: 'ProximaNova-Extrabld';
                        font-size: 36px;
                        line-height: 47px;
                        color: #525D7D;

                        margin-bottom: 10px;
                    }
                    .info-item-text{
                        font-family: 'ProximaNova-Regular';
                        font-size: 18px;
                        line-height: 27px;
                        color: #525D7D;
                    }
                }
            }
        }
        @media (min-width: 414px){
            &-inner{
                .info-item{
                    .slider{
                        .info-slider{
                            &-item{
                                .info-img{
                                    height: 243px;
                                }
                            }
                        }
                    }
                    &-video{
                        height: 243px;
                    }
                }
            }
        }
        @media (min-width: 768px){
            .info-inner{
                padding: 0 30px;
                .info-item{
                    display: flex;
                    justify-content: space-between;

                    .slider{
                        width: 49%;

                        .info-slider{
                            &-item{
                                .info-img{
                                    height: 283px;
                                }
                            }
                        }
                    }
                    &-video{
                        width: 49%;
                        height: 283px
                    }
                    .info-item-content{
                        width: 47%;

                        .info-item-title{
                            font-size: 30px;
                            line-height: 40px;
                        }
                        .info-item-text{
                            font-size: 16px;
                            line-height: 24px;
                        }
                    }
                }
                .reverse{
                    flex-direction: row-reverse;
                }
            }
        }
        @media (min-width: 1024px){
            .info-inner{
                padding: 0 30px;
                margin-bottom: 80px;

                .info-item{
                    display: flex;
                    justify-content: space-between;

                    margin-bottom: 90px;

                    &:last-of-type{
                        margin-bottom: 0;
                    }

                    .slider{
                        width: 52.22%;
                        margin-bottom: 0;

                        .info-slider{
                            &-item{
                                .info-img{
                                    height: 343px;
                                }
                            }
                        }
                    }
                    &-video{
                        width: 52.22%;
                        height: 343px;

                        margin-bottom: 0px;

                        .video-play{
                            width: 69px;
                            height: 69px;

                            &::after{
                                top: 50%;
                                left: 49%;
                                transform: scale(0.79) translate(-50%, -50%);
                            }
                        }
                    }
                    .info-item-content{
                        width: 44.5%;

                        margin-top: 20px;

                        .info-item-title{
                            font-size: 36px;
                            line-height: 47px;
                        }
                        .info-item-text{
                            font-size: 18px;
                            line-height: 27px;
                        }
                    }
                }
            }
        }
        @media (min-width: 1600px){
            .info-inner{
                padding: 0 129px;
                margin-bottom: 100px;

                .info-item{
                    margin-bottom: 100px;
                    .slider{
                        width: 616px;
                        margin-bottom: 0;

                        .info-slider{
                            &-item{

                                .info-img{
                                    height: 447px;
                                    border-radius: 30px;
                                }
                            }
                            .prev{
                                left: 94px;
                                bottom: 37px;
                            }
                            .next{
                                left: 208px;
                                bottom: 37px;
                            }
                        }
                        .info_count{
                            bottom: 40px;
                            left: 149px;
                        }
                    }
                    &-video{
                        width: 616px;
                        height: 447px;
                        border-radius: 30px;

                        .video-play{
                            width: 75px;
                            height: 75px;

                            &:after{
                                position: absolute;
                                top: 34%;
                                left: 40%;
                                transform: scale(1.2);
                            }
                        }
                    }
                    .info-item-content{
                        width: 596px;

                        margin-top: 20px;

                        .info-item-title{
                            font-size: 36px;
                            line-height: 47px;
                        }
                        .info-item-text{
                            font-size: 18px;
                            line-height: 27px;
                        }
                    }
                }
            }
        }
    }

    .leave-request{
        z-index: 1;
        position: relative;
        padding: 81px 0 140px;

        &::before{
            content: '';
            top: 0;
            right: 0;
            z-index: 0;
            width: 100%;
            height: 50%;
            position: absolute;
            background: url('../img/leave-request-before.png') no-repeat 100% 0;
            background-size: cover !important;
        }
        &::after{
            content: '';
            left: 0;
            bottom: 0;
            z-index: 0;
            width: 100%;
            height: 50%;
            position: absolute;
            background: url('../img/leave-request-after.png') no-repeat 0% 100%;
            background-size: cover !important;
        }
        .title{
            text-align: center;
            margin-bottom: 29px;
            h2{
                color: #FFFFFF;
                font-size: 30px;
                font-weight: 800;
                line-height: 39px;
                font-family: 'ProximaNova-Extrabld';

                &:last-of-type{
                    margin-bottom: 20px;
                }
            }
            p{
                font-size: 18px;
                color: #FFFFFF;
                line-height: 27px;
                font-weight: normal;
                a{
                    color: #FFFFFF;
                    line-height: 20px;
                    position: relative;
                    display: inline-block;
                    font-family: 'ProximaNova-Semibold';
                    &:hover{
                        &::after{
                            width: 0;
                        }
                    }
                    &::after{
                        content: '';
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        height: 1px;
                        position: absolute;
                        background: #FFFFFF;
                        transition: all 0.3s;
                    }
                }
            }
        }
        .leave-request-content{
            .form-content{
                width: 280px;
                margin: 0 auto;
                .inputs{
                    input{
                        width: 100%;
                        height: 58px;
                        border: none;
                        font-size: 16px;
                        line-height: 19px;
                        padding: 10px 20px;
                        font-weight: normal;
                        margin-bottom: 14px;
                        color: rgba(255, 255, 255, 1);
                        font-family: 'ProximaNova-Light';
                        background: url('../img/mob-input-bg-white.svg') no-repeat 100% 0%;
                        background-size: cover;
                    }
                    input::placeholder{
                        color: rgba(255, 255, 255, 0.5);
                    }
                }
                textarea{
                    width: 100%;
                    height: 155px;
                    border: none;
                    resize: none;
                    font-size: 16px;
                    line-height: 19px;
                    padding: 22px 21px;
                    font-weight: normal;
                    margin-bottom: 10px;
                    color: rgba(255, 255, 255, 1);
                    font-family: 'ProximaNova-Light';
                    background: url('../img/mob-textarea-bg-white.svg') no-repeat 100% 0%;
                    background-size: cover;
                }
                textarea::placeholder{
                    color: rgba(255, 255, 255, 0.5);
                }
                .file{
                    margin-bottom: 6px;
                    position: relative;
                    .jcf-file{
                        margin-right: 10px;
                        .jcf-upload-button{
                            display: none;
                        }
                        input{
                            top: 0;
                            left: 0;
                            z-index: 2;
                            width: 100%;
                            height: 100%;
                            cursor: pointer;
                            position: absolute;
                        }
                        .jcf-fake-input{
                            font-size: 16px;
                            color: #FFFFFF;
                            line-height: 24px;
                        }
                    }
                    .jcf-extension-jpg{
                        .jcf-fake-input{
                            &::after{
                                display: none;
                            }
                        }
                    }
                    p{
                        font-size: 16px;
                        color: #FFFFFF;
                        font-weight: 600;
                        line-height: 24px;
                        padding-left: 23px;
                        position: relative;
                        font-family: 'ProximaNova-Semibold';
                        &::after{
                            content: '';
                            top: 50%;
                            left: 0;
                            width: 13px;
                            height: 13px;
                            position: absolute;
                            background: url('../img/file.svg') no-repeat 50% 50%;
                            background-size: cover;
                            transform: translate(0, -50%);
                        }
                    }
                }
                .button{
                    button{
                        width: 146px;
                        height: 51px;
                        border: none;
                        display: flex;
                        font-size: 16px;
                        color: #FFFFFF;
                        font-weight: bold;
                        line-height: 19px;
                        margin: 0 auto 23px;
                        align-items: center;
                        justify-content: center;
                        font-family: 'ProximaNova-Bold';
                        background: url('../img/form-button-bg.svg') no-repeat 50% 50%;
                        background-size: cover;
                    }
                    span{
                        font-size: 16px;
                        line-height: 24px;
                        text-align: center;
                        font-weight: normal;
                        display: inline-block;
                        color: rgba(255, 255, 255, 0.5);
                    }
                }
            }
        }
        @media (min-width: 414px){
            .title{
                padding-top: 40px;
            }
        }
        @media (min-width: 768px) {  
            padding: 200px 0 140px;     
            .title {
                width: 540px;
                margin: 0 auto 27px;
                padding-top: 0;
                h2 {
                    padding: 0;
                    font-size: 34px;
                    line-height: 42px;

                    &:last-of-type{
                        margin-bottom: 20px;
                    }
                }
                p{
                    padding: 0 50px;
                }
            }
        }
        @media (min-width: 1024px) {
            padding: 246px 0 200px;
            .title {
                width: 700px;
                margin: 0 auto 42px;
                h2 {
                    font-size: 36px;
                    line-height: 48px;

                    &:last-of-type{
                        margin-bottom: 20px;
                    }
                }
                p {
                    padding: 0;
                    font-size: 18px;
                    line-height: 27px;
                }
            }
            .leave-request-content {
                .form-content{
                    width: 964px;
                    .inputs {
                        display: flex;
                        margin: 0 -1% 28px;
                        align-items: center;
                        justify-content: center;
                        input{
                            height: 58px;
                            width: 31.33%;
                            font-size: 18px;
                            margin: 0 1% 0;
                            padding: 10px 30px;
                            background: url('../img/input-bg-white.svg') no-repeat 50% 50%;
                            background-size: cover;
                        }
                    }
                    textarea{
                        width: 100%;
                        height: 161px;
                        font-size: 18px;
                        margin-bottom: 22px;
                        background: url('../img/textarea-bg-white.svg') no-repeat 50% 50%;
                        background-size: cover;
                    }
                    .file{
                        display: flex;
                        margin-bottom: 40px;
                        align-items: center;
                        p{
                            font-size: 20px;
                            line-height: 30px;
                            margin-right: 20px;
                        }
                        .jcf-fake-input{
                            font-size: 20px;
                            line-height: 30px;
                        }
                    }
                    .button{
                        display: flex;
                        align-items: center;
                        button{
                            width: 182px;
                            height: 64px;
                            font-size: 20px;
                            line-height: 24px;
                            margin: 0 20px 0 0;
                        }
                        span {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
        @media (min-width: 1280px) {
            padding: 280px 0 170px;
            .title {
                margin: 0 auto 50px;
                h2 {
                    font-size: 42px;
                    line-height: 50px;
                    
                    &:last-of-type{
                        margin-bottom: 30px;
                    }
                }
            }
        }
        @media (min-width: 1400px) {
            padding: 300px 0 230px;
            .title {
                width: 1315px;
                h2 {
                    font-size: 52px;
                    line-height: 60px;
                }
                &:last-of-type{
                    margin-bottom: 35px;
                }
                p{
                    padding: 0 140px;
                }
            }
            .leave-request-content {
                .form-content {
                    width: 992px;
                    .inputs {
                        margin: 0 -1.5% 28px;
                        input{
                            height: 58px;
                            width: 30.33%;
                            margin: 0 1.5%;
                            font-size: 20px;
                        }
                    }
                    textarea{
                        height: 165px;
                        font-size: 20px;
                        padding: 24px 31px;
                        margin-bottom: 17px;
                    }
                    .button {
                        button {
                            margin: 0 44px 0 0;
                        }
                    }
                }
            }
        }
        @media (min-width: 1680px) {
            padding: 348px 0 290px;
            .title {
                margin: 0 auto 70px;
                h2 {
                    font-size: 64px;
                    line-height: 83px;
                    
                    &:last-of-type{
                        margin-bottom: 45px;
                    }
                }
            }
        }
    }

    .faq{
        z-index: 1;
        position: relative;
        padding: 27px 0 50px;
        margin-bottom: 85px;

        .top-link{
            left: 50%;
            width: 50px;
            bottom: -50px;
            position: absolute;
            z-index: 10;
            transform: translate(-50%, 0);
            transition: all 0.5s;
            &:hover{
                transform: translate(-50%, 0) scale(1.2);
            }
        }

        .title{
            text-align: center;
            margin-bottom: 5px;
            h2{
                color: #525D7D;
                font-size: 30px;
                font-weight: 800;
                line-height: 39px;
                font-family: 'ProximaNova-Extrabld';
            }
        }
        .accordionjs{
            .acc_section {
                padding: 25px 0;
                border-bottom: 2px solid #E0DFE6;
                &:last-child{
                    border-bottom: none;
                }
                .acc_head{
                    cursor: pointer;
                    font-size: 20px;
                    color: #525D7D;
                    font-weight: 800;
                    line-height: 26px;
                    position: relative;
                    padding-right: 40px;
                    font-family: 'ProximaNova-Extrabld';
                    svg{
                        top: 0;
                        right: 0;
                        top: 6px;
                        right: 1px;
                        width: 10px;
                        position: absolute;
                        transform: translate(0, 0) rotate(-90deg);
                        transition: all 0.4s;
                    }
                }
                .acc_content{
                    padding: 25px 0 0;
                    p{
                        font-size: 18px;
                        color: #868EA4;
                        line-height: 27px;
                        font-weight: normal;
                    }
                }
            }
            .acc_section.acc_active {
                .acc_head{
                    background: -webkit-linear-gradient(270deg ,#ffcc80 .14%,#ff8080 100.13%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    svg{
                        transform: translate(0, 0) rotate(90deg);
                        path{
                            stroke: #ff8080;
                        }
                    }
                }
            }
        }
        .faq-img{
            height: 170px;
            margin: 0 -20px;
            overflow: hidden;
            img{
                width: 100%;
            }
        }
        @media (min-width: 768px) {  
            padding: 25px 0 50px;
            .title {
                margin: 0 0 10px;
                h2 {
                    padding: 0;
                    font-size: 34px;
                    line-height: 42px;
                }
            }
            .faq-img {
                height: 500px;
                margin: 0 -30px;
            }
        }
        @media (min-width: 1024px) {
            padding: 89px 0 50px;
            .title {
                margin: 0;
                text-align: left;
                h2 {
                    font-size: 36px;
                    line-height: 48px;
                }
            }
            .faq-content{
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
            }
            .faq-accordion{
                width: 60%;
            }
            .accordionjs {
                .acc_section {
                    padding: 29px 0 29px;
                    &:last-child{
                        border-bottom: 2px solid #E0DFE6;
                    }
                    .acc_head {
                        font-size: 24px;
                        line-height: 32px;
                        svg {
                            width: 14px;
                        }
                    }
                    .acc_content {
                        padding: 20px 12px 0 0;
                    }
                }
            }
            .faq-img{
                width: 36.8%;
                height: auto;
                overflow: hidden;
                margin: 0 0 0 -40px;
                img {
                    width: auto;
                    height: 100%;
                    transform: translate(2%,0);
                }
            }
        }
        @media (min-width: 1280px) {
            padding: 89px 0 70px;
            .title {
                h2 {
                    font-size: 42px;
                    line-height: 50px;
                }
            }
            .faq-img {
                img {
                    transform: translate(0,0);
                }
            }
        }
        @media (min-width: 1400px) {
            padding: 60px 0 90px;
            .title {
                h2 {
                    font-size: 52px;
                }
            }
            .faq-img {
                margin: 0;
            }
        }
        @media (min-width: 1680px) {
            padding: 150px 0 200px;

            .top-link{
                bottom: 30px;
            }
            .title {
                margin: 0 0 10px;
                h2 {
                    font-size: 64px;
                    line-height: 70px;
                }
            }
            .faq-accordion {
                width: 59.3%;
                .acc_content {
                    padding: 20px 110px 0 0;
                }
            }
            .faq-img {
                width: 34.2%;
                margin: 11px 0 0;
            }
        }
    }
}