<footer class="footer">
    <div class="container">
        <div class="footer-inner">
            <div class="footer-logo">
                <img class="footer-logo-img" src="img/logo-footer.svg" alt="">
                <img class="footer-logo-text" src="img/logo-text-footer.svg" alt="" >
            </div>
            <div class="footer-content">
                <div class="mailing">
                    <h3 class="mailing-title">Подпишись на рассылку и будь в курсе новостей</h3>
                    <form>
                        <div class="form-content">
                            <input type="text" placeholder="E-mail">
                            <div class="button">
                                <button>Отправить</button>
                              </div>
                              <span>Продолжая, вы соглашаетесь на обработку персональных данных</span>
                        </div>
                    </form>
                </div>
                <div class="footer-nav">
                    <nav>
                        <ul class="footer-nav-inner">
                            <li class="footer-nav-inner-item"><a href="javascript:void(0)">Видеопродакшн</a>
                                <ul class="subnav-footer">
                                    <li class="subnav-footer-item"><a href="javascript:void(0)">Видео для ютюба и социальных сетей</a></li>
                                    <li class="subnav-footer-item"><a href="javascript:void(0)">Аэросъемка</a></li>
                                    <li class="subnav-footer-item"><a href="javascript:void(0)">Онлайн трансляции</a></li>
                                    <li class="subnav-footer-item"><a href="javascript:void(0)">3D графика</a></li>
                                    <li class="subnav-footer-item"><a href="javascript:void(0)">Съемка мероприятий</a></li>
                                    <li class="subnav-footer-item"><a href="javascript:void(0)">Обзоры товаров</a></li>
                                    <li class="subnav-footer-item"><a href="javascript:void(0)">Анимационные ролики</a></li>
                                    <li class="subnav-footer-item"><a href="javascript:void(0)">Презентация компании</a></li>
                                    <li class="subnav-footer-item"><a href="javascript:void(0)">Вирусная реклама</a></li>
                                    <li class="subnav-footer-item"><a href="javascript:void(0)">Кулинарная съемка</a></li>
                                    <li class="subnav-footer-item"><a href="javascript:void(0)">Добавить VR 360°</a></li>
                                    <li class="subnav-footer-item"><a href="javascript:void(0)">Круговые панорамы</a></li>
                                    <li class="subnav-footer-item"><a href="javascript:void(0)">Съемка рекламы</a></li>
                                    <li class="subnav-footer-item"><a href="javascript:void(0)">Съемка клипов</a></li>
                                    <li class="subnav-footer-item"><a href="javascript:void(0)">Учебные фильмы</a></li>
                                    <li class="subnav-footer-item"><a href="javascript:void(0)">Съемка интервью</a></li>
                                </ul>
                            </li>
                            <li class="footer-nav-inner-item"><a href="javascript:void(0)">Разработка сайтов</a>
                                <ul class="subnav-footer">
                                    <li class="subnav-footer-item"><a href="javascript:void(0)">Корпоративные сайты
                                    </a></li>
                                    <li class="subnav-footer-item"><a href="javascript:void(0)">Landing page</a></li>
                                    <li class="subnav-footer-item"><a href="javascript:void(0)">Интернет-магазины
                                    </a></li>
                                    <li class="subnav-footer-item"><a href="javascript:void(0)">Сайты каталоги
                                    </a></li>
                                    <li class="subnav-footer-item"><a href="javascript:void(0)">Сайты визитки
                                    </a></li>
                                </ul>
                            </li>
                            <li class="footer-nav-inner-item"><a href="javascript:void(0)">Интернет маркетинг</a>
                                <ul class="subnav-footer">
                                    <li class="subnav-footer-item"><a href="javascript:void(0)">Контекстная реклама</a></li>
                                    <li class="subnav-footer-item"><a href="javascript:void(0)">SMM</a></li>
                                    <li class="subnav-footer-item"><a href="javascript:void(0)">Таргетированная реклама</a></li>
                                    <li class="subnav-footer-item"><a href="javascript:void(0)">Продвижение сайтов SEO</a></li>
                                    <li class="subnav-footer-item"><a href="javascript:void(0)">Продвижение ютьюб каналов</a></li>
                                </ul>
                            </li>
                            <li class="footer-nav-inner-item"><a href="javascript:void(0)">Портфолио</a></li>
                            <li class="footer-nav-inner-item"><a href="javascript:void(0)">Блог</a></li>
                            <li class="footer-nav-inner-item"><a href="javascript:void(0)">Вакансии</a></li>
                            <li class="footer-nav-inner-item"><a href="javascript:void(0)">Контакты</a></li>
                            <li class="footer-nav-inner-item"><a href="javascript:void(0)">Отзывы</a></li>
                            <li class="footer-nav-inner-item"><a href="javascript:void(0)">Проекты</a></li>
                            <li class="footer-nav-inner-item"><a href="javascript:void(0)">Рекламодателям</a></li>
                            <li class="footer-nav-inner-item"><a href="javascript:void(0)">Коллаборации с блоггерами</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="footer-contact">
                    <div class="work-hours">
                        <h4>Режим работы:</h4>
                        <p class="work-days">пн вт ср чт пт - рабочие дни</p>
                        <p class="weekend">сб вс - выходные</p>
                        <p class="hours">с 8:00 до 22:00 по Москве</p>
                    </div>
                    <div class="address">
                        <h4>Адрес:</h4>
                        <p>г. Екатеринбург, Академика Бардина, 37</p>
                    </div>
                    <div class="contacts">
                        <h4>Контакты:</h4>
                        <ul>
                            <li class="footer-tel"><a href="tel:+7 (343) 383-56-49">+7 (343) 383-56-49 </a></li>
                            <li class="footer-tel"><a href="tel:+7 (343) 383-56-49">+7 (343) 383-56-49 </a></li>
                            <li class="footer-email"><a href="mailto:e-film@ya.ru">e-film@ya.ru</a></li>
                        </ul>
                    </div>
                </div>
                <div class="follow">
                    <p class="follow-title">Следите за нами: </p>
                    <div class="social">
                        <a class="social-item" href="javascript:void(0)">
                            <img src="img/social-item-1.png" alt="">
                            <p>Вконтакте</p>
                        </a>
                        <a class="social-item" href="javascript:void(0)">
                            <img src="img/social-item-2.png" alt="">
                            <p>Instagram</p>
                        </a>
                        <a class="social-item" href="javascript:void(0)">
                            <img src="img/social-item-3.png" alt="">
                            <p>Facebook</p>
                        </a>
                        <a class="social-item" href="javascript:void(0)">
                            <img src="img/social-item-4.png" alt="">
                            <p>Youtube</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer-info">
                <a class="policy" href="javascript:void(0)">Пользовательское соглашение</a>
                <p class="author">Дизайнер: <a href="javascript:void(0)">Alisa Sidorenkova</a></p>
            </div>
        </div>
    </div>
</footer>