<div class="project-popup hide">
    <div class="project-popup-inner">
        <img class="close-popup" src="img/close-popups.svg"></img>
        <h3 class="project-popup-title">Оставте заявку на свой проект</h3>
        <p class="project-popup-info">Прежде чем отправлять заявку, скачайте и заполните <a href="javascript:void(0)">наш подготовленный бриф,</a> чтобы мы могли ознакомиться с вашей компанией и идеей</p>
        <form>
            <div class="form-content-popup">
                <div class="inputs-popup">
                    <input type="text" placeholder='Имя*'>
                    <input type="text" placeholder='Телефон*'>
                    <input type="text" placeholder='E-mail*'>
                </div>
                <textarea placeholder="Расскажите немного о вашем проекте"></textarea>
                <div class="file-popup">
                    <p>Прикрепить заполненный бриф</p>
                    <input type="file">
                </div>
                <div class="project-popup-button">
                    <button>Отправить</button>
                    <span>Продолжая, вы соглашаетесь на обработку персональных данных</span>
                </div>
            </div>
        </form>
    </div>
</div>