<div class="vacancy-popup hide">
    <div class="vacancy-popup-inner">
        <img class="close-popup" src="img/close-popups.svg"></img>
        <h3 class="vacancy-popup-title">Оставить заявку на вакансию:</h3>
        <p class="vacancy-popup-info">Специалист по прадажам</p>
        <form>
            <div class="form-content-popup">
                <div class="inputs-popup">
                    <input type="text" placeholder='Имя*'>
                    <input type="text" placeholder='Фамилия*'>
                    <input type="text" placeholder='Телефон*'>
                    <input type="text" placeholder='E-mail*'>
                </div>
                <div class="vacancy-popup-button">
                    <button>Отправить</button>
                    <span>Продолжая, вы соглашаетесь на обработку персональных данных</span>
                </div>
            </div>
        </form>
    </div>

</div>